<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Course_ResultId</h5>
        <p class="card-text">@Model.Degree</p>
        <p class="card-text">Course ID : @Model.CourseId</p>
        <p class="card-text">Student ID : @Model.SSN</p>
    </div>
</div>
