<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/@Model.image" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Age</p>
        <p class="card-text">deptId : @Model.DepartmentId</p>
        <a href="#" class="btn btn-primary">@Model.Phone</a>
    </div>
</div>