<div class="card" style="width: 18rem;">
    @* <img class="card-img-top" src="~/@Model.image" alt="Card image cap"> *@
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">Min Degree @Model.Min_Degree</p>
        <p class="card-text">Highest Degree : @Model.Degree</p>
        @* <a href="#" class="btn btn-primary">@Model.DepartmentId</a> *@
    </div>
</div>